<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php">
    <php>
        <const name="PHPUNIT" value="true"/>
    </php>

    <testsuites>
        <testsuite name="Shopware Connect">
            <directory>test/Shopware/Connect</directory>
        </testsuite>
    </testsuites>
</phpunit>
